*,html,body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 1000px;
}
header{
    opacity: 1;
    background-color: none;
    background: none;
    position: fixed;
    line-height: 30px;
    z-index: 1;
    width: 100% ;
    transition: all 3s ease-in-out;
}
.navback{
    opacity: 1;
    background-color: aliceblue;
    background: linear-gradient(90deg,#ffffff,#ccd9ff, #b3c6ff,#99b3ff,#668cff);
    transition: all 1s ease-in-out;
}
header .head {
    margin-right: 20px;
    margin-left: 20px;
}
.logo img{
    margin-top: 5px;
    border: 0px;
    padding: 0px;
    height: 45px;
    width: 45px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav{
    align-self: left;
}
.nav-links li{
    display: inline;
    align-content: right;
}
a{
    text-decoration-style: solid;
}
header nav{
    float: right;
}

header nav ul li a{
    font-size: 20px;
    font-weight: 200;
    color: aliceblue;
    transition: all .7s ease-in-out;
}
header nav ul li a:hover{
    font-size: 20px;
    font-weight: 200;
    color: rgb(1, 131, 136);
    text-decoration: none;
}
header nav ul li{
    padding-right: 10px;
    padding-left: 5px;
    margin-top: 10px;
}
head ul{
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.micon{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px;
    visibility: none;
    display: none;
    cursor: pointer;
}


@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height : 250px;
        top: 50px;
        background: linear-gradient(90deg,#99b3ff,#668cff);
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 1;
        transform: translateY(-130%);
        transition: transform 0.8s ease-in;
    }
    .micon{
        visibility: visible;
        display: inline-flex;
    }
    .nav-links li{
        opacity: 1;
    }
    .nav-active{
        opacity: 2;
        transform: translateY(0%);
    }
}



.slider{
    position: relative;
    top: 0px;
}



section.slider,.slider ul,.slider ul li{
    height: 140vh;
    width: 100%;
    color: white;
    text-align: center;
    top: 0px;
}

.slider-carousel{
    top: 0px;
}
.slider .bodyBlock{
    margin-top: 20vh;
}
.h2{
    font-weight: bold;
}

.img1{
    background-image: url("../images/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img2{
    background-image:url("../images/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img3{
    background-image:url("../images/image3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.slider ul li i{
    border: 10px;
    padding:15px;
    margin: 20px;
    font-size: 45px;
}
.slider .btn{
    margin-top: 10px;
    padding: 12px 30px;
    background-color:#99b3ff;
    color: whitesmoke;
}
.slider .btn:hover{
    opacity: .7;
}
