<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1">
        <link rel="shortcut icon" href="images/icon.jpg">
        <title>Web Page</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <script src="https://kit.fontawesome.com/79fbe35b92.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/carofredsel.js"></script>
    </head>

    <body>
        <header>
            <div class="head">
                
                <div class="row">
                    <a href="" class="logo">
                        <img src="images/apple_icon.png">
                    </a>
                    <nav>
                        <div class='micon' onclick="navSlide()">
                            <i class="fas fa-bars"></i>
                        </div>
                        <ul class="nav-links">
                        <li><a href="">Home</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Clients</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Contact Us</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </header>
        <section class="slider">
            <ul class="slider-carousel" id="slider-carousel">
                <li class="img1">
                    <div class="bodyBlock">
                        <h2>GET STARTED <span>NOW</span></h2>
                        <p>
                            Welcome to the new Era of Systematic Learning 
                        </p>
                        <div class="row">
                        <i class="fas fa-desktop"></i>
                        <i class="far fa-chart-bar"></i>
                        <i class="fas fa-globe-americas"></i>
                        </div>
                        <div>
                            <a href=""class="btn btn-group-lg">Buy Now</a>
                        </div>
                    </div>
                </li>
                
                <li class="img2">
                    <div class="bodyBlock">
                        <h2>GET STARTED <span>NOW</span></h2>
                        <p>
                            Welcome to Our World Class Advisory Service 
                        </p>
                        <div class="row">
                        <i class="fas fa-desktop"></i>
                        <i class="far fa-chart-bar"></i>
                        <i class="fas fa-globe-americas"></i>
                        </div>
                        <div>
                            <a href=""class="btn btn-group-lg">Buy Now</a>
                        </div>
                    </div>
                </li>
                
                <li class="img3">
                    <div class="bodyBlock">
                        <h2>GET STARTED <span>NOW</span></h2>
                        <p>
                            Welcome to a whole new world of Innovation.
                        </p>
                        <div class="row">
                        <i class="fas fa-desktop"></i>
                        <i class="far fa-chart-bar"></i>
                        <i class="fas fa-globe-americas"></i>
                        </div>
                        <div>
                            <a href=""class="btn btn-group-lg">Buy Now</a>
                        </div>
                    </divclass="bodyBlock">
                </li>
                
            </ul>
        </section>
        <section>
        </section>
        <div class="footer-wrapper">
            <div class="container-fluid">
                <div class="footer-social-icons">
                <ul>
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-skype"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                </ul>
                </div>
                <div class="footer-mid-part">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-section-three">
                            <div class="footer-heading"><h2>Contact Us</h2></div>
                            <div class="footer-contact-box">
                                <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
                                <div class="footer-contact-text">
                                    <p>Address: Central Road Woodside Circle, CN 789456</p>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="footer-contact-box">
                                <div class="footer-contact-icon"><i class="fa fa-phone"></i></div>
                                <div class="footer-contact-text">
                                    <p><a href="tel:+012-3456-789">+012-3456-7890</a></p>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="footer-contact-box">
                                <div class="footer-contact-icon"><i class="fa fa-fax"></i></div>
                                <div class="footer-contact-text">
                                    <p><a href="#">+012-3456-789</a></p>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="footer-contact-box">
                                <div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
                                <div class="footer-contact-text">
                                    <p><a href="#">abc@xyz.com</a></p>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="footer-contact-box">
                                <div class="footer-contact-icon"><i class="fa fa-globe"></i></div>
                                <div class="footer-contact-text">
                                    <p><a href="#">http://www.example.com</a></p>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-section-two">
                        <div class="footer-heading"><h2>Quick Link</h2></div>
                        <div class="footer-link">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Web Services</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-section-two">
                        <div class="footer-heading"><h2>Our Services</h2></div>
                        <div class="footer-link">
                        <ul>
                            <li><a href="#">Linux Hosting</a></li>
                            <li><a href="#">Windows Hosting</a></li>
                            <li><a href="#">Domain Registration</a></li>
                            <li><a href="#">SEO Promotion</a></li>
                            <li><a href="#">Our Plans</a></li>
                            <li><a href="#">Latest Offers</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Website Maintenance</a></li>
                        </ul>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-section-three">
                        <div class="footer-heading"><h2>Get in touch</h2></div>
                        <div class="footer-form">
                            <form method="post" action="#">
                            <div class="footer-form-box">
                                <input type="text" class="footer-form-style" placeholder="Name">
                            </div>
                            <div class="footer-form-box">
                                <input type="text" class="footer-form-style" placeholder="Email">
                            </div>
                            <div class="footer-form-box">
                                <input type="text" class="footer-form-style" placeholder="Phone Number">
                            </div>
                            <div class="footer-form-box">
                                <input type="submit" class="footer-form-submit-style" value="SUBMIT" ">
                            </div>
                            </form>
                       </div>
                    </div>
                    </div>
                </div>
                </div>
            <div class="footer-bottom">
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>Copyright 2019 All Rights Reserved</p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </body>
    <script src="js/main.js"></script>
</html>
